@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');


html, body{
    margin: 0;
    padding: 0;
}

h1.titulo{

    color: white;
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-size: 42px;
    margin: 0 0 0 auto;


}
p{
    margin-bottom: 1.0em;
    text-align: justify;
}

header{
    background:cornflowerblue;
    color:darkblue;
    padding: 0.1em 0;
    font-size: 12px;
	
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
header a{
    color: white;
    text-decoration: none;
}
.navigation{
	background: cornflowerblue;
}
.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
	
    background: cornflowerblue;

}
.logo{
    letter-spacing: 2px;
    font-size: 1.2em;
    align-content: flex-start;
    

}
.menu-icon{
    display: none;
}
.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigation ul li{
    display: inline-block;

}
    .navigation ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.5s linear;
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
         .navigation ul li a:hover{
            background: teal;

        }

.slider{
    width: 65%;
    margin: 0 auto;
    overflow: hidden;
}
.slider ul{
    display: flex;
    padding: 0;
    width: 400%;

    animation: cambio 20s infinite;
    animation-direction: alternate;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
    border-radius: 5%;
    margin-top: 140px;
}

@keyframes cambio{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}

}

.main{
    padding-top: 1.5em;
}
/*contenido*/
body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    font-family: 'Open Sans', sans-serif;
}

.title{
    text-align: center;
    font-size: 40px;
    color: #6a6a6a;
    margin-top: 0;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}

.contenido{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: auto;
    margin: auto;
}

.contenido .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.contenido .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.contenido .card img{
    width: 330px;
    height: 220px;
}


.contenido .card h4{
    font-weight: 600;
}

.contenido .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.contenido .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}
/***fin de contenido**/
